filebeat.prospectors:
- input_type: log
  paths:
    - /var/log/secure*
  document_type: secure

  include_lines: ["Accepted password for", "Failed password for"]

  exclude_files: [".gz$"]

output.elasticsearch:
###  hosts: ["localhost:9200"]
  hosts: [ {{ elasticsearch_node|join(', ') }} ]
  pipeline: auth_pipeline
